{%extends 'base.html' %}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col-sm-6" style="background-image: url({{image.image.url}});  
        background-position: center; background-repeat: no-repeat; background-size: cover;
        height:450px;margin-top: 20px;">

        </div>


        <div class="col-sm-6" style="margin-top: 20px; height:500px">
            <a href="{% url 'profile' image.profile.user.username%}">
                <img src="{{image.profile.profile_photo.url}}" height="30" width="30" class="rounded">
                <span style="color:black;font-weight: bold;">{{image.profile.user.username}}</span>
            </a>
            <span>{{image.caption}}</span>


            {% if user == image.profile.user %}
            <a href="" data-toggle="modal" data-target="#basicExampleModal">
                <span style="float: right;" ><i class="fas fa-ellipsis-h fa-2x"></i></span>
            </a>
            {%endif%}


            <div class="overflow-auto">
                {%for comment in comments %}
                    {%if comment.image == image %}
                    <div class="container" style="margin-bottom:5px">
                        <a href="{%url 'profile' comment.profile.user.username%}">
                            <img src="{{comment.profile.profile_photo.url}}" height="30" width="30" class="rounded">
                        </a>
                        <span>
                            <span >
                                <a style="color:black;font-weight: bold;" href="{%url 'profile' comment.profile.user.username%}">{{comment.profile.user.username}}</a>
                            </span> 
                            <span>{{comment.comment}}</span>
                        </span>
                    </div>
                    {%endif%}
                {%endfor%}
            </div>
            
            <div style="margin-top: 300px;">
                
                    <div class="md-form" >
                        <form action="{% url 'comment' image.id%}" method="POST">
                            {%csrf_token%} 
                            <div class="fieldWrapper">
                                <label for="{{ form.comment.id_for_label }}">Post a Comment</label>
                                {{ form.comment }}
                            </div>

                            <input type="submit" value="POST" class="btn purple-gradient">
                        </form>

                    </div>                
            </div>


            <!-- Modal -->
            <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-center" id="exampleModalLabel">UPDATE IMAGE</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form action="{%url 'update_bio' image.id%}" method="POST">
                        {%csrf_token%}
                        <div class="md-form">
                            <div class="fieldWrapper" style="width: auto;">
                                    <label for="{{ update_form.caption.id_for_label }}">Caption</label>
                                    {{ update_form.caption }}
                            </div>
                        <div> 
                    </form>

                
                </div>
                <div class="modal-footer">
                    <form action="{%url 'delete_image' image.id%}" method="POST">
                        {%csrf_token%} 
                        <input type="submit" value="Delete" class="btn btn-outline-danger btn-rounded waves-effect">
                    </form>
                </div>
              </div>
            </div>
            </div>
            
        </div>
        
    </div>

    <div class="container">
        <div class="row">
        {% if image.likes != 1 %}
            <p style="font-weight: bold; margin-top: 10px;">{{image.likes}} likes</p>
            {%else%}
            <p style="font-weight: bold;margin-top: 10px">{{image.likes}} like</p>
        {%endif%}


        {%if not image.user_liked%}
            <a href="{% url 'like_comment' image.id%}"><i class="far fa-heart" style="color: black;font-size: 30px; margin:5px;"></i></a>
            {%else%}
            <a href="{%url 'unlike_comment' image.id %}"><i class="fas fa-heart" style="color: red; font-size: 30px;margin:5px;"></i></a>
        {%endif%}        
    </div>
</div>
{%endblock%}