{% extends 'base.html' %}

{%block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-5 card" style="margin-top: 50px;">
            <div class="card-header">
                <h5 class="text-center">EDIT PROFILE</h5>
            </div>
            <form style="margin-left:20px;padding-top: 10px;" class="md-form" action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <div class="fieldWrapper">
                    <label for="{{ form.bio.id_for_label }}">Update Bio</label>
                    {{ form.bio }}
                </div>
                <div class="file-field" >
                    <div class="btn btn-primary btn-sm float-left">
                      <span style="font-size: 16px;font-weight: bold;padding-right: 5px;">Profile Photo:</span>
                      <span>{{form.profile_photo}}</span>
                    </div>
                </div>
                <div style="margin-left: 150px;">
                    <input type="submit" value="Upload" class="btn purple-gradient">
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}