

<nav class="navbar navbar-expand-lg navbar-light lighten-5" style="height: 70px;">
    <div class="navbar-brand">
        <a class="navbar-brand" href="{% url 'home' %}"><i class="fab fa-instagram fa-2x"></i>
          <span style="font-size: 30px;">Instagram</span>
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarText">
      <form class="form-inline" role="search" action="{% url 'search' %}" style="margin-left: 350px;">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search">
          </div>
      </form>

      <ul class="navbar-nav mr-auto" style="margin-left: 300px;">
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'profile' user.username %}" class="text-white" style="background-color: white;">
            <i class="far fa-user fa-2x" style="background-color: white;"></i>
          </a>
        </li>
      </ul>

    </div>
    {%endif%}
  </nav>