{% extends 'base.html' %}

{%block content %}
<div class="container">
    <p>{{profile.bio}}</p>
    <img src="{{profile.profile_photo.url}}" height="150" width="150">
    <form  action="{%url 'profile' profile.user.username%}" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        {{photo_form}}
        <input type="submit" value="submit">
    </form>
    <div class="container">
        <a>{{followers|length}}- Followers</a>
        <a>{{following|length}}- Following</a>
    </div>
    <a href="{%url 'new_post' %}">Post Pic</a>
</div>
<div class="container">
    {%if images %}
    {%for image in images%}
    <img src="{{image.image.url}}" height="150" width="150">
    {%for comment in comments %}
        {%if comment.image == image %}
            <p>{{comment.user.username}} - {{comment.comment}}</p>
        {%endif%}
    {%endfor%}
    {% endfor %}
    {%else%}
    <p>No images</p>
    {%endif%}
</div>

{%endblock%}