{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if profiles%}
      <h2>USERS: {{ profiles|length }} </h2>
      <div class="container">
        <div class="row">
        {% for profile in profiles %}
        
          <div class="col-sm-2 view overlay" style="background-image: url({{profile.profile_photo.url}});  
          background-position: center; background-repeat: no-repeat; background-size: cover;
          height:250px">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
            <div class="mask rgba-black-strong flex-center waves-effect waves-light">
                <p class="white-text" style="font-weight: bold;">
                    <span style="margin: 10px;">
                      <a href="{% url 'profile' profile.user.username %}" class="white-text"> @{{profile.user.username}} </a>
                    </span>
                </p>
            </div>        

          </div>
        
        {%endfor%}
      </div>
      </div>
    {% else %}
      <h2> Found 0 users </h2>
    {% endif %}

</div>
<div class="container">

   {% if images%}
     <h2>IMAGES: {{ images|length }}</h2>
     <div class="row">
     {%for image in images %}
        <div class="col-sm-3 view overlay" style="background-image: url({{image.image.url}});  
        background-position: center; background-repeat: no-repeat; background-size: cover;
        height:250px">
          <a >
              <div class="mask rgba-white-slight"></div>
          </a>
          <div class="mask rgba-black-strong flex-center waves-effect waves-light">
              <p class="white-text" style="font-weight: bold;">
                  <span style="margin: 10px;">
                    <a href="{% url 'profile' user.username %}" class="white-text">
                      <i class="fas fa-heart"></i> {{image.likes}} </a>
                      <i class="far fa-comment"></i>
                  </span>
              </p>
          </div> 
        </div>
      
    {%endfor%}
    </div>
   {% else %}
     <h2> Found 0 images</h2>
   {% endif %}

</div>


{% endblock %}